<html lang ="en">
    <%- include('./partials/header.ejs') %> 
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="blogs content">
            <% if(object.length != 0){ %>
                <% object.forEach(blog => { %>
                    <h3><%=blog.title%></h3>
                    <p><%=blog.snippet%></p>
                <% }); %>
            <% } %> 
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>